@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-----------*/

body {
  font-size: 40px;
  font-family: "Prosto One", serif;
}

.container {
  margin: 0 auto;
  width: 90%;
  background-color: #999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin: 40px 0;
  text-align: center;
}

.main {
  display: flex;
}

.claendarColumn {
  flex: 0 1 30%;
}
.calendarCard {
  width: 400px;
  height: 450px;
  background-color: #d3d3d3;
  margin: 40px;
  border-radius: 20px;
  box-shadow: 8px 10px 8px 2px rgba(75, 75, 75, 0.8);
}

.title__row {
  display: flex;
  height: 60px;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 20px 27px 20px;
}

.day {
  font-size: 24px;
}

.year {
  font-size: 24px;
}

.change__row {
  height: 50px;
  margin: 0 20px 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month {
  font-size: 36px;
}

.prev:hover,
.next:hover {
  cursor: pointer;
}

.calendar__box {
  width: 360px;
  height: 216px;
  margin: 0 20px;
}

.week__box {
  font-size: 18px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.week__box div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
}

.date__box {
  font-size: 18px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: (5, 1fr);
  width: 100%;
  margin: 0 0 0 10px;
}

.date__box div {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px 0;
  transition: background-color 0.2s;
}

.date__box div:hover {
  background-color: #a1a1a1;
  border-radius: 7px;
  border: solid 1px black;
  cursor: pointer;
}

.date__box div:nth-child(7n + 6),
.date__box div:nth-child(7n + 7) {
  color: red;
}

.prev__days {
  opacity: 50%;
}

.today {
  background-color: #84d35e;
  border-radius: 7px;
  border: 1px solid #000;
}

.daySelected {
  background-color: #845ed3;
  border-radius: 7px;
  /* border: 1px solid #000; */
  font-size: 110%;
}

.scheduleColumn {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #999999, #6b6969);
  flex: 1 1 70%;
}

.day_today {
  margin: 20px auto;
}

.week_number {
  margin: 0 auto 20px;
}

.event {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  font-size: 80%;
}

.event__block {
  display: flex;
  border: 1px solid #000000;
  border-bottom: none;
}

.event__block:last-child {
  border: 1px solid #000000;
}

.event__time {
  flex: 1 1 20%;
  padding: 10px 30px 10px 10px;
  border-right: 1px solid #000000;
  border-bottom: none;
}

.event__desc {
  flex: 1 1 80%;
  padding: 10px 30px 10px 10px;
  border-bottom: none;
  border-left: none;
}
